/* Color de botones */
.btn-dark {
  background-color: #004441 !important;
  border-color: #003532 !important;
}

.btn-dark:hover {
  background-color: #02756f !important;
  border-color: #00615c!important;
}


.btn-outline-danger {
  /* background-color: #ff0000 !important; */
  border-color: #ff5100 !important;
  color: #ff5100 !important;
}

.btn-outline-danger:hover {
  background-color: #ff4d00 !important;
  border-color: #ff4d00 !important;
  color: white !important;
}


.btn-outline-warning {
  border-color: #e0c187 !important;
  color: #d8ae5e !important;
}

.btn-outline-warning:hover {
  background-color: #f2dbb1 !important;
  border-color: #edd29f !important;
  color: #000000 !important;
}


.btn-outline-primary{
  /* background-color: #ff0000 !important; */
  border-color: #8dab7e !important;
  color: #728867  !important;
}

.btn-outline-primary:hover {
  background-color: #ddf7d0  !important;
  border-color: #cfe9c2  !important;
  color: rgb(36, 36, 36) !important;
}

.btn-check:checked + .btn-outline-primary {
  background-color: #ddf7d0  !important;
  border-color: #cfe9c2  !important;
  color: rgb(36, 36, 36) !important;
}






 /* Botón flotante del chat */
.chat-toggle-btn {
  position: fixed;
  bottom: 70px;
  right: 20px;
  width: 60px;
  height: 60px;
  z-index: 1000;
  padding: 0;
  border: none;
  background: transparent;
}

/* Imagen dentro del botón */
.chat-icon-img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

/* Ventana flotante del chat */
.chat-float-window {
  position: fixed;
  bottom: 130px;
  right: 20px;
  width: 350px;
  z-index: 1000;
}


.chat-body {
  height: 300px;
  overflow-y: auto;
}

.chat-bubble {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  max-width: 75%;
  word-break: break-word;
}

.chat-bubble.user {
  background-color: #212529; /* Bootstrap dark */
  color: white;
}

.chat-bubble.bot {
  background-color: #f8f9fa; /* Bootstrap light */
  color: #212529;
}


.map-container {
  height: 400px;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

